root {
    --main-bg-color: #e6e6e6;
    --light-bg-color: #f0f0f0;
    --orange-circle: #e6563b;
    --gold-circle: #eb9d3a;
    --green-circle: #7cb06c;
    --blue-circle: #00aba9;

}

body {
    background: var(--main-bg-color);
    font-family: 'Anton', sans-serif;
}

a{
    text-decoration: none;
    font-family: 'Abel', sans-serif;
}

.navbar-brand {
    font-size: 1.5rem;
    color: #000400 !important;
}

.nav-link {
    color: #a0a0a0 !important;
}